<h4 class="page-title">Settings</h4>
<p>We can add description here.</p>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="profilepic">
        <img src="assets/img/profile2.jpg">

      </div>
      <div class="updatepic text-center">
        <button style="margin: auto; border-radius:30px; width: 255px" class="btn btn-default btn-round-lg btn-lg">
          Update Profile Picture</button>
      </div>
      <div class="card-body" >
        <div class="col-xs-6"style="float: left">
          <div class="form-group">
            <label for="pillInput">Fullname:</label>
            <input type="text" class="form-control input-pill" id="pillInput" placeholder="">
          </div>
        </div>
        <div class="col-xs-6" style="float: left">
          <div class="form-group">
            <label for="pillInput">Password:</label>
            <input type="password" class="form-control input-pill" id="pillInput" placeholder="">
          </div>
        </div>
        <div class="col-xs-6"style="float: left">
          <div class="form-group">
            <label for="pillInput">Email:</label>
            <input type="email" class="form-control input-pill" id="pillInput" placeholder="">
          </div>
        </div>
        <div class="col-xs-6" style="float: left">
          <div class="form-group">
            <label for="pillInput">Mobile Number:</label>
            <input type="tel" class="form-control input-pill" id="pillInput" placeholder="">
          </div>
        </div>
        <div class="col-xs-6"style="float: left">
          <div class="form-group">
            <label for="pillSelect">Country</label>
            <select class="form-control input-pill" id="pillSelect">
              <option>Select-</option>
              <option>France</option>
              <option>UK</option>
              <option>Australia</option>
              <option>Germany</option>

            </select>
          </div>
        </div>
        <div class="col-xs-6" style="float: left">
          <div class="form-group">
            <label for="pillInput">City:</label>
            <input type="text" class="form-control input-pill" id="" placeholder=" ">
          </div>
        </div>



      </div>
      <div class="col-xs-6  col-centered">
        <div class="save">
          <button style="margin: auto" class="btn btn-default btn-round-lg btn-lg">Save</button></div>
      </div>

    </div>

  </div>

</div>