<div class="about-jumbotron jumbotron">
  <div class="container">
    <div class="slogan solgan-about">
      <div class="row">
        <div class="col-sm-3">
      <h1 class="slogan-title aligns-about"><span class="aligns-span">About</span><br><strong><span>Smile Me Up</span></strong></h1>
    </div> 
    </div>
  </div>
  </div>
</div>

<div class="about container">
  <div class="text-center">
    <h3 class="about-title">Smile Me Up</h3>
    <div class="row">
      <div class="col-sm-8 col-sm-push-2 about-bg">
     <p class="about-des">
          We provide our customers with high-value smiles by delivering them unique,
          <br> affordable and cutting-edge technology products. You deserve an amazing smile and <br>we are there to make it happen. Smile me Up works with dental and orthodontic <br>experts all over Europe with experience of over 10 years. We insure a professional <br>evaluation of your teeth, a warm-hearted service and best product quality.<br>
          Be the next perfectly smiling happy customer! 
        </p>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/testimonials' %>
<%= render 'shared/share' %>