 <!--27 april edit -->
 <div class="product-clearup jumbotron">
  <div class="container text-center">
    <div class="clearup-page">
      <h1 class="clearup-title">CLEAR UP <br><strong>Shop</strong></h1>
      <div class="row">
        <div class="col-sm-6 col-sm-push-3">
          <p>
            You wish to straighten your teeth or close gaps? Without traditional braces? You prefer to pay less for a high-quality treatment? Then you should choose our invisible, discreet aligner "Clear Up" 
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="home container">
  <div class="text-center">
    <h3><strong style="color: #96bf3d">CLEAR UP</strong> <br>START YOUR JOURNEY</h3>
    <div class="row">
      <div class="col-sm-4 col-sm-push-4">
        <p class="text-midium">
          We are happy that you decided to proceed with yout CLEAR UP aligner treatment.        
        </p>
      </div>
    </div>
  </div>

  <div class="text-center">
    <div class="home container">
      <div class="row home-how">
        <div class="center-div">
          <div class="home-how-item shadow min-height-shadow">
            <!--<div class="home-how-number">1</div> -->
            <div class="text-center">
              <%= image_tag('clearupshop.svg')%>
            </div>        
            <p>
              Place your order and be the next happy smiling customer!<br><br><br><br><br>
              &nbsp;
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="home container">
  <div class="row home-how">
    <div class="product-center">
      <div class="home-how-item">
        <div class="text-center">
          <%= image_tag('clearupkit.svg')%>
        </div>
        <div class="text-center">
          <h3>CLEARUP</h3>
          <h5>(The typical Hollywood smile)</h5><br>
          <button type="button" class="btn btn-lg btn-green btn-hover" data-toggle="modal" data-target="">ADD TO CART</button>
        </div>        
           
        </div>
    </div>
  </div>
</div>


</div>

<%= render 'shared/share' %>


  








  