<div class="distributors-jumbotron jumbotron">
  <div class="container">
    <div class="slogan">
      <h1 class="slogan-title"><strong>DISTRIPUTORS</strong></h1>
      <div class="row">
        <div class="col-sm-5">
          <p>
            Smile Me Up aims to satisfy our customers as <br>well as our worldwide distributors. <br>Please complete the application below or contact us <br>if you wish to distribute our products.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="distributors container">
  <div class="text-center">
    <div class="row">
      <div class="col-sm-10 col-sm-push-1">
        <h1>
          Want to become a Smile Me Up's <br>
          world wide distributor? <br>
          <strong class="green">Want to join our fast growing team?</strong>
        </h1>
        <p class="text-muted">
          We consider our distributors as partners rather than distribution channels through which we managed a very profitable win-win situation for Smile Me Up and it's distributor worldwide, Smile Me Up has developed the best treat-yourself at home technique accompanied by the best 3D technology applied with cutting costs to compete with the overall market worldwide. <br>
          Furthermore, the variety of products and services offered by Smile Me Up has widened the market and possibilities for distributors to conquer markets in short span of time. <br>
          Joining our Smile Me Up team is a few steps away, apply now and get in touch with us to know more details on how to become our Regional Distributor. <br>Complete the Online Confidential Distribution Application
        </p>
        <h3>Distribution <strong class="green">Application</strong></h3>
         <form id="distributors-form">
          <div class="row">
            <div class="form-group col-sm-6">
              <label for="name">Email*</label>
              <input name="email" type="email" class="form-control" id="email" placeholder="iLove@smilemeup.com" value="">
            </div>
            <div class="form-group col-sm-6">
              <label for="name">Name *</label>
              <input name="name" type="text" class="form-control" id="name" placeholder="John Doe" value="">
            </div>
            <div class="form-group col-sm-6">
              <label for="country">Where are you living? *</label>
              <input name="country" type="text" class="form-control" id="name" placeholder="Egypt" value="">
            </div>
            <div class="form-group col-sm-6">
              <label for="interested_coutries">In which country do you wish to distribute our products? *</label>
              <input name="name" type="text" class="form-control" id="interested_coutries" placeholder="Egypt, USA" value="">
            </div>
            <div class="form-group col-sm-6">
              <label for="method">Preferred method to present our products:*</label>
              <input name="method" type="text" class="form-control" id="method" placeholder="..." value="">
            </div>
            <div class="form-group col-sm-6">
              <label for="method">Numbers of inhabitants in your geographic area? *</label>
              <input name="inhabitants" type="text" class="form-control" id="inhabitants" placeholder="3" value="">
            </div>

            <div class="form-group col-sm-6">
              <label for="method">Who is the owner of the company/clinic? *</label>
              <input name="owner" type="text" class="form-control" id="owner" placeholder="Jack Smith" value="">
            </div>

            <div class="form-group col-sm-6">
              <label for="body">Where did you first learn about us? *</label>
                <textarea name="learn" class="form-control" rows="8" id="learn"></textarea>
            </div>
            <div class="form-group col-sm-6">
              <label for="body">Your vision from applying our unique products in your market?*</label>
                <textarea name="vision" class="form-control" rows="8" id="vision"></textarea>
            </div>
            <div class="form-group col-sm-6">
              <label for="body">Which Marketing channels will you be willing to work through?*</label>
                <textarea name="marketing_channel" class="form-control" rows="8" id="marketing_channel"></textarea>
            </div>
            <div class="form-group col-sm-6">
              <label for="body">Which benefit would you bring Smile Me Up? *</label>
                <textarea name="add" class="form-control" rows="8" id="add"></textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4 col-sm-push-4">
              <button type="submit" class="btn btn-green btn-large">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="row">