<div class="products-jumbotron jumbotron product">
  <div class="container">
    <div class="slogan slogan-padding">
      <div class="row">
        <div class="col-sm-3">
          <h1 class="slogan-title aligns-product"><span class="aligns-span">Our</span> <br><strong><span>Products</span></span></strong></h1>  
        </div>
      </div>
    </div>
  </div>
</div>

<div class="home container padding" style="margin-bottom: 2em">
  <div class="text-center">
    <h3>Select Your Ideal <strong class="green">Smiling Solution</strong></h3>
  </div>
</div>

<div class="product jumbotron snapup">
  <div class="container">
    <div class="slogan slogan-padding">
     <div class="clear-up">
      <div class="row">
        <div class="col-sm-4">
          <h1 class="extra-bold">CLEAR UP</h1>
          <p>
           You wish to straighten your teeth or close gaps ? Without a traditional braces ? You prefer to pay less for a high-quality treatment ? Then you should choose our invisible, discreet aligners "CLEAR UP".     
            Find out more by clicking on "start now".
          </p>
          <p>
            <a class="btn btn-default btn-lg" href="/products/clearup" role="button">Start Now</a>
          </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="product jumbotron clearup">
  <div class="container">
    <div class="slogan slogan-padding">
     <div class="snap-up">
      <div class="row">
        <div class="col-sm-4">
          <h1 class="extra-bold">SNAP UP</h1>
          <p>
            Our removable instant veneers snap easily on your teeth, they cover missing, crooked or discolored teeth. SNAP UP clips on your teeth without any adhesives or <br>any teeth modifications.
          </p>
          <p>
            <a class="btn btn-default btn-lg" href="/products/snapup" role="button">Order Now</a>
          </p>
        </div>
      </div>
     </div> 
    </div>
  </div>
</div>