<div class="terms-jumbotron jumbotron">
  <div class="container">
    <div class="slogan faq-slogan">
      <h1 class="slogan-title aligns-faq"><span class="aligns-span">TERMS AND</span> <br><strong>CONDITIONS</strong></h1>
      <div class="row">
        <div class="col-sm-5">
          <p>
            General terms and conditions of business of Smile Me Up for use against private individuals (consumer business)
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="terms container">
  <div class="text-center">
    <div class="row">
      <div class="col-sm-6 col-sm-push-3">
        <h1>
           General terms  <strong class="green">and conditions</strong>
        </h1>
        <p class="text-muted">
          We consider our distributors as partners rather than distribution channels through which we managed a very profitable win-win situation for Smile Me Up
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-10 col-sm-push-1">
        <h3><strong>1 Application of the Conditions</strong></h3>
        <p>
          Smile Me Up GmbH, based in Düsseldorf, Lilienthalstr.74 (hereinafter referred to as ” Smile Me Up GmbH”), represented by Dr. Walid Fahmy, produces and distributes cosmetic aligners and veneers.
        </p> 
        <h3><strong>2 Contracting parties</strong></h3>
        <p>
          Smile Me Up GmbH, based in Düsseldorf, Lilienthalstr.74 (hereinafter referred to as ” Smile Me Up GmbH”), represented by Dr. Walid Fahmy, produces and distributes cosmetic aligners and veneers.
        </p>
        <h3><strong>3 Conclusion of contract and explanation of the order process of Smile Me Up and its products and services</strong></h3>
        <p>
          Smile Me Up GmbH, based in Düsseldorf, Lilienthalstr.74 (hereinafter referred to as ” Smile Me Up GmbH”), represented by Dr. Walid Fahmy, produces and distributes cosmetic aligners and veneers.
        </p>
        <h3><strong>4 Data protection, data transmission and  data protection regulations</strong></h3>
        <p>
          Smile Me Up GmbH, based in Düsseldorf, Lilienthalstr.74 (hereinafter referred to as ” Smile Me Up GmbH”), represented by Dr. Walid Fahmy, produces and distributes cosmetic aligners and veneers.
        </p>  
        <h3><strong>5 General Risks</strong></h3>
        <p>
          Smile Me Up GmbH, based in Düsseldorf, Lilienthalstr.74 (hereinafter referred to as ” Smile Me Up GmbH”), represented by Dr. Walid Fahmy, produces and distributes cosmetic aligners and veneers.
        </p>
        <h3><strong>6 Prices</strong></h3>
        <p>
          Smile Me Up GmbH, based in Düsseldorf, Lilienthalstr.74 (hereinafter referred to as ” Smile Me Up GmbH”), represented by Dr. Walid Fahmy, produces and distributes cosmetic aligners and veneers.
        </p>
        <h3><strong>7 payment</strong></h3>
        <p>
          Smile Me Up GmbH, based in Düsseldorf, Lilienthalstr.74 (hereinafter referred to as ” Smile Me Up GmbH”), represented by Dr. Walid Fahmy, produces and distributes cosmetic aligners and veneers.
        </p>
      </div>
    </div>
  </div>
</div>