<div class="nav-cover">
</div>
<div class="clearup-candidate container text-center">
  <div class="row">
    <div class="col-sm-4 col-sm-push-4">
      <h3>Am I a <strong class="green">candidate?</strong></h3>
      <p>
        At Smile Me Up we assess every candidate's separate case to make sure the chosen product will be usable by the user ,and will create effective results.
      </p>
    </div>
  </div>
  <div class="row confirm">
    <div class="col-sm-2 col-sm-push-5">
      <%= image_tag('candidate/confirm.svg') %>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-sm-4 col-sm-push-4">
      <h3>
        We Are Done Here, <br>
        <strong class="green">Thanks</strong>
      </h3>
    </div>
  </div>
</div>