
<div class="reason-blog-jumbotron jumbotron">
   
</div> 

<div class="container">
    <div>
        
          <h3 class="text-center green Bold">5 reasons why invest your money in invisible teeth straightening?</h3><br>
          <div><h3 class="green" style=""><srtong>Effective</srtong></h3><div><br>
          <h4>Over the last 20 years clear invisible aligners have proven to be the best alternative to the fixed orthodontic brackets in so many cases that today almost 80% of the teeth straightening problems could be solved by clear invisible aligners.
          The acceptance and demand of this treatment modality has been <br>increasing so fast throughout the years tot he extent that some practices provide exclusively only clear invisible aligners.</h4><br>
          
          <div><h3 class="green" style=""><srtong>Hygenic</srtong></h3></div><br>          
          <h4>Unlike what most of your friends or family or even yourself who did fixed orthodontic brackets or braces in the past, you won’t have this irritating food clogging between the brackets and wire. You won’t have food sticking on the brackets.
          Clear aligners make it easy to clean your teeth and maintain a top oral hygiene.</h4><br>
          
          <div><h3 class="green" style=""><srtong>Aesthetic</srtong></h3></div><br>
          
          <h4>Clear aligners are almost transparent and make living normally while having your teeth move a normal life style. Most people won’t even realise that you have something on your teeth.</h4><br>
           
          <div><h3 class="green" style=""><srtong>Affordable</srtong></h3></div><br>
          
          <h4>Clear aligners are getting more affordable than ever before, who would have thought that straightening teeth could start from only 950€ ? We made many people’s dream come true and made it easier for everyone to have their amazing smile they always dreamt about.</h4><br>
          
          <div><h3 class="green" style=""><srtong>Confidence</srtong></h3></div><br>
          
          <h4>In our open dynamic world aesthetics has been getting so close to our self esteem and confidence we relate mostly how we look to our levels of confidence. A straight smile is unbeatable.
          </h4>
        
    </div>
  </div>