<div class="whattoeat-blog-jumbtron jumbotron">  
</div>
<div class="container">
  <h3 class="text-center green bold">What to eat after veneers</h3><br>

    <h4>Veneers are thin shells that are bonded to the front surface of your teeth to imitate natural teeth looks and improve the shape, color, or appearance of your teeth.
    Veneers can instantly transform your smile, but they do require a additional care as they cannot repair themselves like teeth do. 
    One of the most important adjustments to make is changing your eating habits. Don't get me wrong , veneers are not fragile they can even be as strong as your teeth but they still need special care , so let's discuss the eating habits you should avoid shell we?
    <div><h3 class="green"><srtong>Avoid hard foods:</srtong></h3></div><br>
    peanuts, hard candy, chicken ribs, bones, etc (If you must eat hard food, chew with your back teeth)
    <div><h3 class="green"><srtong>Avoid smoking</srtong></h3></div><br>
    <div><h3 class="green"><srtong>Avoid Brushing your teeth with a hard toothbrushes</srtong></h3></div><br>
    <div><h3 class="green"><srtong>Biting your fingernails</srtong></h3></div><br>
    <div><h3 class="green"><srtong>Biting toothpicks or other hard items that can displace your veneers</srtong></h3></div><br>
    
    Following these previous tips will help you enjoy the long-lasting effects of dental veneers followed by a glamorous smile.</h4><br>

</div>